/* background for header and footer */ 
.blackbackground
{
background:  black;
color: white

}

/* background picture */
.backpic
{
  background-image: url('BACKGROUND.jpeg');
}

/* link colors at different states */
a:link {
  color: #FF0000;
}

a:visited {
  color: #00FF00;
}

a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}

/* main part properties */
main{

  margin-left: 25%;
  margin-right: 25%;
margin-top: 10Px;
  
margin-bottom: 10px;
}

/* header properties */
h2,h3{
  text-align: center;
  font-family: serif;
}


h1{
  text-align: center;
  font-family: "Comic Sans MS";
}

/* font size of paragraphs */
p {
  font-size: 15px;
}

/* footer height */
footer{
  height: 10%;
}

/* width of this elements to full screen size */
h1,h2,footer,header ,h3{
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

html,body{
  width: 100%;
  height: 100%;
}

/* image padding */
img{
 padding-left: 80px; 
}

/* center class */
.center {
  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.imgdim
{width:100% ;
  height :300
}

.profdim{
  width :50%;
   height :25% 
}
