.blackbackground
{
background:  black;
color: white

}

.backpic
{
  background-image: url('BACKGROUND.jpeg');
}

a:link {
  color: #FF0000;
}

a:visited {
  color: #00FF00;
}

a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}

main{

  margin-left: 20%;
  margin-right: 20%;
  
}

h1,h2,footer{
  text-align: center;
}

header{
  margin-top: 0px;
}

footer{
  margin-bottom: 0px;
}
